-
  const TButtonProps = {
    className: string,
    type: 'button' | 'submit' | 'reset',
    size: 'small' | 'middle' | 'large',
    title: string,
    reverse: boolean,
    link: string,
  }

mixin Button({ className = '', type = 'button', size = 'middle', title, reverse, link } = {})
  .Button(class=`${className} ${reverse ? 'reverse' : ''} ${size}`)
    if link
      a(href=`${link}`).Button-control.flex.items-center.justify-center
        .Button-control-title
          = title
          block title

        .Button-control-icon 
          block icon

    else
      button(type=`${type}`).Button-control.flex.items-center.justify-center
        .Button-control-title
          = title
          block title

        .Button-control-icon 
          block icon